/node_modules

/client

/just-making-sure

/owl-carousel

/public

rotas.txt
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
webpack.common.js
webpack.dev.js
webpack.prod.js
webpack.prodev.js
