:root{
    /* --block-color: #f6f6f6;
    --inner-input-color:#f7f7f7; calc(15px * 1.5) */
    --m-p-base-font-size-b: 20px;
    --m-p-base-font-size-m: 17px;
    --m-p-base-font-size-s: 14px;


    --m-p-title-font-size: 123%;
    --m-p-title-line-height: 1.2em;
    --m-p-title-max-height: 4.2em;
    
    --m-p-date-font-size: 3rem;

    --m-p-brief-content-font-size: 92%;;
    --m-p-brief-content-line-height: 1.2em;
    --m-p-brief-content-max-height: 4.3em;


    --inner-input-color:#eeeeee;
    --general-font:"Public Sans", system-ui, sans-serif;
  }


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.more-content{
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    width: 100%;
    /* justify-content: space-evenly; */
    margin: 20px 0;
    margin: 0 10px;
}

.more-content .side-content{
    /* max-width: 290px; */
    width: 33.3333333%;
    padding: 10px;
}

.sqr-ads-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.sqr-ads-container .ads{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sqr-ads-container .ads .ad{
    display: none;
}

.sqr-ads-container .ads .current{
    display: block;

}

.sqr-ads-container .ads .current img{
    max-width: 270px;
    object-fit: contain;
    width: 100%;
}

.ads-controls{
    max-width: 284px;
    position: relative;
    width: 100%;

}

.ads-controls button{
    border: solid 1px #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-family: monospace;
    font-size: 21px;
    top: 108px;
}

.ads-controls .previous{
    position: absolute;
    left: 0;
    
}

.ads-controls .next{
    position: absolute;
    right: 0;
}

.post-list{
    overflow: hidden;
    display: grid;
    grid-column-gap: 36px;
    grid-row-gap: 52px;
}

.post-list .post{
    position: relative;
    display: flex;
    width: 100%;
    color: black;
    text-decoration: none;

}

.post-list .post:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: calc(51px /2*-1);
    border-bottom: 1px solid #ddd;
}

.post-list .post .cover{
    display: block;
    max-width: 60%;
    width: 38%;
    margin-right:  25px;
    flex-shrink: 0;

    position: relative;
    align-self: flex-start;
    border-radius: 0;
    overflow: hidden;
}

.post-list .post .cover .inside-cover{
    display: block;
    position: relative;
    max-width: 100%;
    padding-bottom: 66.6666667%;
    height: 0;
}

.post-list .post .cover .inside-cover .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;

    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.post-list .post .content{
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.post-list .post .content .post-data{
    --p-meta-sep: "\2014";
    display: flex;
    flex-direction: column;
    margin-bottom:  initial;
    font-family:"Public Sans", system-ui, sans-serif;
    font-size: 12px;
    color: #8a8a8a;
    line-height: 1.5;

}

.post-data > .h2:first-child {
    margin-top: 0 !important;
}

.post-list .post .content .post-data h2{
    font-size: calc(20px * 1.05);
    margin: 9px 0;
    line-height: 1.36;
    color: black;
}

.post-list .post .content .post-data span{
    width: 11%;
    background-color: #ddd;
    border-radius: 10px;
    height: 15px;
}

.post-list .post .content .brief-content{
    margin-top: 16px;
    color: #505050;
    font-size: 15px;
    line-height: 1.6;
    word-break: break-all;
    word-break: break-word;
    overflow-wrap: break-word;
}

.post-list .post .content .brief-content p:last-of-type {
    margin-bottom: 0;
}

.post-list .post .content .brief-content p{
    margin-bottom: 21px;
    word-break: break-all;
    word-break: break-word;
    overflow-wrap: break-word;

}

@media (max-width: 767px){
    .post-list .post .cover{
        width: 40%;
    }
}

@media (max-width: 540px){

    .post-list .post .cover{
        width: 40%;
        min-width: 100px;
        margin-right: 16px;
    }

    .post-list .post .cover .inside-cover{
        padding: 0;
        height: 10vh;
        min-height: 100px;
        width: auto;
    }

    .post-list .post .content .post-data h2 {
        font-size: calc(14px + (calc(20px * 1.05) - 14px) * 0.4);
    }

    .post-list .post .content .brief-content{
        display: none;
    }
    
    
}

@media (max-width: 950px) {
    .more-content{

        flex-direction: column;

    }
}

