<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="icon"  href="../assets/91876-F4-D-5-D89-45-D7-928-A-B6-F6-E6-A06513.jpg">
  <!-- type="image/x-icon" -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Studio | QGda30</title>

</head>

<body>
  <div id="webSiteContent" class="notranslate">
    <nav class="nav-bar">
			<div class="logo">
				<!-- <img src="https://i.ibb.co/ZdJgkrD/91876-F4-D-5-D89-45-D7-928-A-B6-F6-E6-A06513.jpg" alt="91876-F4-D-5-D89-45-D7-928-A-B6-F6-E6-A06513" border="0" /> -->
				<img src="https://i.ibb.co/ZLh3w4c/54695-C6-C-A1-AA-4375-9-D90-44-F9-B53-D459-B.png" alt="54695-C6-C-A1-AA-4375-9-D90-44-F9-B53-D459-B" border="0" />
			</div>
      <div class="navigation-opts">
        <!-- <a href="storage.html">Overview</a> -->
        <a href="storage.html">Storage</a>
      </div>
		</nav>

    <div class="post-exemple post-editor">

      <div class="topic-section">
        <h3>Tópico: </h3>

        <div class="select-topic">

          <!-- <label for="topicSelector">Escolha a categoria:</label>

          <select id="topicSelector" name="category">
            <option value="NOTÍCIA">NOTÍCIA</option>
            <option value="LANÇAMENTO">LANÇAMENTO</option>
            <option value="FESTIVAL">FESTIVAL</option>
            <option value="CHARTS">CHARTS</option>
          </select> -->

        </div>

        <div class="add-topic-section">
          <button id="show-add-topic">Novo</button>
          
          <div class="add-topic-surrounding">
            <p>&#10006;</p>
            <div class="add-topic">
              <input type="text" placeholder="Ex: NOTÍCIA" class="add-topic-input"></input>
    
              <button class="add-topic-btn">&#x2795;</button>
    
            </div>
          </div>
        </div>

        <div class="delete-topic-section">
          <button id="show-delete-topic">Apagar</button>
          <div class="delete-topic-surrounding">
            <p>&#10006;</p>
            <div class="delete-topic">
          
              <!-- <select id="deleteTopicSelector">
                <option value="noticia">NOTICIA</option>
                <option value="lancamento">LANÇAMENTO</option>
                <option value="festival">FESTIVAL</option>
                <option value="charts">CHARTS</option>
              </select>
    
              <button class="delete-topic-btn">apagar</button> -->
            </div>
          </div> 
        </div>
        
      </div>

      <!-- <div class="current-topic">
        <span>NOTÍCIA</span>
      </div> -->

      <h1 class="postTitle notranslate"></h1>
      <div class="post-info">
        <div><span class="postDate"></span></div>
        <div>De: <span class="postAuthor"></span></div>
      </div>

      <div id="post-content">

      </div>
    </div>

    <div class="ad-editor" >
      <h1 class="ad-title">Anúncio</h1>
      <div class="creator">
        <span>Anúncio registrado por</span>
      </div>
      <div class="ad-name input-editor">
        <span>Nome de anúncio</span>
        <input type="text" id="adName" placeholder="Escolha um nome para o anúncio">
      </div>
      <div class="ad-owner input-editor">
        <span>Dono do anúncio</span>
        <input type="text" id="adOwner">
      </div>
      <div class="link input-editor">
        <span>Link</span>
        <input type="text" id="adLink" placeholder="Ex: https://qgda30.com">
      </div>
      <div class="ad-pictures">
        <div class="square-ad">
          <div class="ad-ctrl">
            <button class="get-img">Imagem 1x1</button>
            <input type="file" id="squareImg" accept="image/jpeg, image/png, image/jpg, image/jpng, image/gif">
          </div>
          <div class="picture" id="squareImgPlace">
          </div>
        </div>
        <div class="rectangle-ad">
          <div class="ad-ctrl">
            <button class="get-img">Imagem 24x5</button>
            <input type="file" id="rectangleImg"  accept="image/jpeg, image/png, image/jpg, image/jpng, image/gif">
          </div>
          <div class="picture" id="rectangleImgPlace">
          </div>
        </div>
      </div>
  
      <button class="save-ad" id="saveAd">Salvar</button>
    </div>

    <div class="controls ">
      <div class="write">

      </div>
      
      <div class="map-placement post-editor">
        <div class="map">

        </div>
      </div>

      <div class="block-opt post-editor">
        <button class="text">
          <span>Texto</span>
          <img src="../assets/text-only.svg">
        </button>
        <button class="img">
          <span>Imagem</span>
          <img src="../assets/image-icon.svg">
        </button>
        <button class="tweet">
          <span>Tweet</span>
          <img src="../assets/twitter-circle.svg">
        </button>
        <button class="video">
          <span>Youtube</span>
          <img src="../assets/youtube-icon.svg">
        </button>
      </div>


      <div class="finish-section post-editor">
        <button class="save"><img src="../assets/save-icon.svg"></button>
        <button class="simulate"><img src="../assets/show-icon.svg"></button>
      </div>

      <div class="add-features post-editor"><button><img src="../assets/controls-icon.svg"></button></div>
    </div>
    <!-- <div class="place-link-root show">
      
    </div> -->
    <div class="place-link" id="placeTxtLink">
      <div class="place-link-content">
        <h3>Add link</h3>
        <div class="place-link-features">
          <div class="dialog"></div>
          <input type="text" name="word" placeholder="word">
          <input type="text" name="link" placeholder="link">
          <textarea id="adLink" class="txtA" readonly spellcheck="false"></textarea>
          <div class="place-link-btn">
            <button id="place-link-ok" class="ok disabled">add</button>
            <button id="place-link-cancel" class="cancel">cancel</button>
          </div>
        </div>
      </div>

    </div>

    <div class="place-link" id="placeImgLink">
      <div class="place-img-link-container">
        <h3>Add link</h3>
        <div class="place-link-features">
          <div class="dialog"></div>
          <input type="text" name="imgWord" placeholder="word">
          <input type="text" name="imgLink" placeholder="link">
          <div class="place-link-btn">
            <button id="place-img-link-ok" class="ok disabled">add</button>
            <button id="place-img-link-cancel" class="cancel">cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="post-simulation" >
      <!-- <nav class="nav-bar">
        <div class="logo">
          
          <img src="https://i.ibb.co/ZLh3w4c/54695-C6-C-A1-AA-4375-9-D90-44-F9-B53-D459-B.png" alt="54695-C6-C-A1-AA-4375-9-D90-44-F9-B53-D459-B" border="0" />
        </div>
      </nav> -->
      <nav class="simple-nav">
        <div class="simulation-btn">
          <div class="return">
            <button>Voltar</button>
          </div>

          <div class="options"></div>
  
          <!-- <div class="publish">
            <button>publish</button>
          </div> -->
        </div>
      </nav>
     
      <div class="simulated-post">
        <div class="simulated-header">
          <div class="simulated-title">
            <h1></h1>
          </div>
          <div class="simulated-data">
            <span>3/7/2022</span>
            <span>De: Vini</span>
          </div>
        </div>
        <div class="simulated-blocks">
          
        </div>
      </div>
    </div>

  </div>

  <!-- <button class="create" onclick="renderResult()">create</button> -->

  <script type="text/javascript" id="www-widgetapi-script"
    src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vflS50iB-/www-widgetapi.js" async=""></script>
  <script src="https://www.youtube.com/player_api"></script>
  <script sync src="https://platform.twitter.com/widgets.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
    integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  </script> -->
  <!-- <script src="../scripts/jquery.ui.touch-punch.min.js"></script>
  <script type="module" src="../features/caret-master/jquery.caret.js"></script> -->
  <!-- <script src='autoResize.js'></script> -->
  
  <!-- <script sync src="https//www.instagram.com/embed.js"></script> -->



</body>

</html>